
//HEADING SECTION


.heading-section{
	font-size: 28px;
	color: black;
	small{
		font-size: 18px;
	}
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.carrousel{
	  width:100%;
	color: white;
}

.bk1{
//background-image: url(../../static/bk01.png);
background-color: #E63462;
//background-size:cover;

height:100vh;

}
.bk2{
	//background-image: url(../../static/bk01.png);
	background-color: #297373;
	//background-size:cover;
	height:100vh;
	
	}
	.bk3{
		//background-image: url(../../static/bk01.png);
		background-color: #1D84B5;
		//background-size:cover;
		height:100vh;
		
		}
	

.txt{
	padding-top: 300px;
	
}

