
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: black;
	small{
		font-size: 18px;
	}
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.carrousel{
	width:78%;
}

.bk1{
background-image: url(../../static/bk01.png);

background-size:cover;
height:100vh;

}