.proyect-1{
    background: url(../../static/p1.png);
    background-position: center;
    background-size: cover;
    
}
.proyect-2{
    background: url(../../static/p2.png);
    background-position: center;
    background-size: cover;
    
}

.proyect-3{
    background: url(../../static/p3.png);
    background-position: center;
    background-size: cover;
    
}

.proyect-4{
    background: url(../../static/w1.png);
    background-position: center;
    background-size: cover;
    
}

.proyect-5{
    background: url(../../static/w7.png);
    background-position: center;
    background-size: cover;
    
}
.proyect-6{
    background: url(../../static/w8.png);
    background-position: center;
    background-size: cover;
    
}